<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/view_hospital">Hospital Approvals</a><br>
<a href="/approvedhos">Approved Hospitals</a><br>
<a href="/view_doctor">Doctor Approvals</a><br>
<a href="/approveddoc">Approved Doctors</a><br>
<a href="/view_lab">Lab Approvals</a><br>
<a href="/approvedlab">Approved Labs</a><br>
<a href="/approvedclient">Verified Clients</a><br>
<a href="/add_medicine">add medicine</a><br>
<a href="/view_medicine">view medicines</a><br>
<a href="/test_management">test management</a><br>
<a href="/view_tests">view tests</a><br>
</body>
</html>