{% extends"admin/adminindex.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
     <style type="text/css">
        th{
            color: black;
        }
    </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
    <h2 class="red">TEST MANAGEMENT</h2>
 <table class="table table-hover">
     <tr>
      <th width="120" scope="row">Name:</th>
      <td width="377"><label for="textfield"></label>
      <input type="text" name="textfield1" id="textfield" class="form-control" required /></td>
    </tr>
    <tr>
      <td height="153" colspan="2" scope="row" align="center"><input type="submit" name="ADD" id="ADD" value="ADD" class="btn btn-primary" /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
