{% extends"admin/adminindex.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
         <style>
table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>

<body>
<form id="form1" name="form1" method="get" action="">
<h2 class="red">CLIENTS</h2>
  <table class="table table-hover">
    <tr>
      <th width="10" scope="col">#</th>
      <th width="78" scope="col">CLIENT NAME</th>
      <th width="100" scope="col">PHONE NUMBER</th>
      <th width="84" scope="col">GENDER</th>
      <th width="43" scope="col">AGE</th>
      <th width="68" scope="col">IMAGE</th>
      <th width="105" scope="col">LOCATION</th>
      <th width="57" scope="col">ZIP CODE</th>
      <th width="132" scope="col">EMERGENCY NUMBER</th>
      <th width="113" scope="col">EMAIL ID</th>
    </tr>
      {% for i in data %}
    <tr>
      <td height="61"></td>
      <td>{{ i.client_name }}</td>
      <td>{{ i.phone_number }}</td>
      <td>{{ i.gender }}</td>
      <td>{{ i.age }}</td>
      <td><img src="{{ i.image }}" height="100" width="100"/></td>
      <td>{{ i.location }}</td>
      <td>{{ i.zip_code }}</td>
      <td>{{ i.emergency_number }}</td>
      <td>{{ i.email_id }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
