{% extends "doctor/doctorindex.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style type="text/css">
        th{
            color: black;
        }
    </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table class="table table-hover">
    <tr>
      <th width="141" scope="row">#</th>
      <td width="208"> DATE</td>
      <td width="276">RECORD</td>
{#      <td width="276">OPTION</td>#}
    </tr>
      {% for i in data %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ i.date }}</td>
{#      <td>{{ i.record }}</td>#}
      <td><a href="{{ i.record }}" download>DOWNLOAD</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}